* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #212121;
}

.nav{
    background-color: #2b2b2b;
    display: flex;
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: cyan; */
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.nav-left{
    /* border: 1px solid cyan; */
    display: flex;
    align-items: center;
}

.nav-mid{
    display: flex;
    gap: 10px;
}

.circle{
    width: 25px; height: 25px;
    background-color: white;
    border-radius: 50%;
    margin: 30px;
}

.nav-right{
    /* border: 1px solid cyan; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-right: 15px;
    
}

.nav-mid h3{
    font-weight: 300;
}

.user-circle {
    width: 25px; height: 25px;
    border-radius: 50%;
    background-color: rgb(60, 228, 60);
}

.page{
    padding-top: 75px;
    height: 100vh;
    width: 100%;
}

.box{
    /* border: 1px solid red; */
    position: relative;
    text-align: center;
}

.input {
    padding: 20px;
    padding-left: 30px;
    width: 180px;
    height: 50px;
    background: none;
    border: 2px solid #ffffff;
    border-radius: 60px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: #ffffff;
    outline: none;
    transition: .5s;
}

.input::placeholder{
    text-align: center;
}
.box:hover input{
    width: 450px;
    /* background: #27242a; */
    border-radius: 10px;

}
.box i{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 20px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
}

.balance{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 30vh;
    width: 100%;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: center;
}

.funds{
    margin-top: 30px;
    display: flex;
    border: 1px solid red;
    gap: 20px;
    margin-bottom: 30px;
}


#funds-buttons {
    border: none;
    color: #fff;
    background-image: linear-gradient(30deg, #0400ff, #4ce3f7);
    border-radius: 30px;
    /* background-size: 100% auto; */
    font-family: inherit;
    font-size: 17px;
    /* padding: 0.6em 1.5em; */
    width: 150px;
    height: 50px;

}

#funds-buttons:hover {
    background-position: right center;
    background-size: 200% auto;
    -webkit-animation: pulse 2s infinite;
    animation: pulse512 1.5s infinite;
    cursor: pointer;
}

@keyframes pulse512 {
    0% {
        box-shadow: 0 0 0 0 #05bada66;
    }

    70% {
        box-shadow: 0 0 0 10px rgb(218 103 68 / 0%);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(218 103 68 / 0%);
    }
}

.portfolio{
    height: 47vh;
    width: 100%;
    border: 1px solid red;
}

.header{
    border: 1px solid cyan;
    margin-top: 10px;
}
.header h2{
    padding-left: 30px;
    /* font-weight: 300; */
}

.card-box{
    width: 100%;
    height: 37vh;
    border: 1px solid white;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    max-width: 320px;
    border-radius: 20px;
}
  
.title {
    display: flex;
    align-items: center;
}

.title span {
    position: relative;
    padding: 0.5rem;
    background-color: #10B981;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 9999px;
}

.title span svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    height: 1rem;
}

.title-text {
    margin-left: 0.5rem;
    color: #374151;
    font-size: 18px;
}

.percent {
    margin-left: 0.5rem;
    color: #02972f;
    font-weight: 600;
    display: flex;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.data p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #1F2937;
    font-size: 2.25rem;
    line-height: 2.5rem;
    font-weight: 700;
    text-align: left;
}

/* .data .range {
    position: relative;
    background-color: #E5E7EB;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.25rem;
} */

/* .data .range .fill {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #10B981;
    width: 76%;
    height: 100%;
    border-radius: 0.25rem;
} */